/* General
------------------------------------------------------------------------------*/


a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

body {
  background-color: #fff;
}

.navbar li a {
    color: #777777;
}

.navbar li a:hover, .navbar li.active a {
      color: #69c7ad !important;
      height: 100%;
  }


.dropdown-menu {
  border-radius: 0px;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

#profile {
  padding-bottom: 15px;
}

.breadcrumb {
  border-radius: 0px;
}

.card {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 0px;
  margin: 5px;
}

.media {
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 0px;
  margin: 5px;
}

/* Footer
------------------------------------------------------------------------------*/

.socialmedia {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
}

.social {
    display: flex;

}


.social >li a {
  font-size: 2rem;
}




/* Nav
------------------------------------------------------------------------------*/

nav {
  position: relative;
}

#profile a:hover {
  color: #69c7ad !important;
}

.sidenav {
  float: left;
  display: block;
  height: 100%;
  background-color: #4b4a55; /*#787687;*/
  position: fixed;
  padding-top: 25px;
  color: #adb5bd;
}

.menu {
    padding: 60px 0px;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
}

.sub-menu a {
    line-height: 28px;
    margin-left: 0px;
    color: #fff;
    font-size: 1rem;
}

.sub-menu a:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
  vertical-align: middle;
}


.menu ul {
  padding-left: 0px;
}

.menu .list-group-item {
   padding: 0;
   border: 0;
   background-color: #4b4a55;
}



.menu a {
  display: block;
  padding: 10px 10px;
}

.menu a:hover {
  background-color: #69c7ad;
  color: #fff;
  text-decoration: none;
}

.contenido {
  padding: 20px;
}

.custom-file:after {
  content: attr(data-content-value);
}

.custom-file-input ~ .custom-file-label::after {
    content: "Seleccionar";
}

.page-item.active .page-link {

    color: #fff;
    background-color: #69c7ad;
    border-color: #69c7ad;
}


/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}