/* ----- General ------ */
* {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  background-color: #fff;
}

nav {
  box-shadow: 0px 0.5px 2px rgba(0,0,0,0.1);
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

a {
  color: #69c7ad;
}

a:hover {
  color: #69c7ad;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.wrapper-border {
  border-top: 4px solid #69c7ad;
  padding-top: 38px;
  padding-bottom: 15px;
}

.jumbotron {
    background-color: #fff;
    color: #303030;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0px;
    border-radius: 0;
    margin-top: 3rem;
    padding-bottom: 0px;
}
.container-fluid {
    padding: 60px 50px;
}

.bg-grey {
    background-color: #f6f6f6;
}

.btn, .form-control {
  border-radius: 0;
}

.navbar-collapse {
  background-color: #f8f9fa;
}

.navbar-brand {
  margin-left: 1rem;
}

.badge {
  background-color: #69c7ad;
  color: #fff;
  font-size: 60%;
}

.btn-master {
  border: 2px solid #69c7ad;
}

.btn-master:hover {
  background-color: #69c7ad;
  border: 2px solid #69c7ad;
}


.card-header-template {
    background-color: #69c7ad;
    color: #fff;
    border: none;
}

.card-header-template a {
  color: #fff;
}

.card-header-template a:hover {
  color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show {
  color: #fff;
  background-color: #69c7ad;
  border-radius: 0;
}

.navbar li a:hover, .navbar li.active a {
      color: #69c7ad !important;
      height: 100%;
  }

/* ----- Header ------ */

#search button {
    background-color: #6c757d;
    color: #fff;
    border: 1px solid #6c757d;
}

#search button:hover {
    background-color: #69c7ad;
    border: 1px solid #69c7ad;
    color: #fff;
}

#search .form-control {
    background-color: #f8f9fa;

}
#search .form-control:focus {
    border: 1px solid #6c757d;
    border-bottom: 3px solid;
    box-shadow: none;
}

.cesta-count {
    position:relative;
    left: -31%;
    vertical-align: top;
    font-size: 11px;
    background: #fff;
    color: rgba(0, 0, 0, 0.7);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-family: sans-serif;
}

  /* ----- Barra de navegación ------ */
  
  .navbar {
      margin-bottom: 0;
      z-index: 9999;
      border: 0;
      line-height: 1.42857143 !important;
      letter-spacing: 3px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
      padding: 0px;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a {
      background-color: #fff !important;
      height: 100%;
  }


  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px !important;
  }

  .navbar-brand {
    letter-spacing: 1px;
  }  

  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }


/* ----- menú desplegable -----   */

.dropdown-menu {
      border-radius: 0px;
      font-size: 15px;  
}

.dropdown:hover .dropdown-menu {
  display: block;
}

 .dropdown-item {
    padding: 0.50rem 1.5rem;
    letter-spacing: 2px;
 }

 /* ---- menú secundario ------- */
 .secondary-navbar {
    z-index: 1;
 }

/* _____ Div búsquedas predictivas */
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 100%;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  background-color: #f8f9fa;
}

/* ------ Menu 2 ------- */

.btn-link {
    color: #303030;
}

.btn-link:hover {
    color: #69c7ad;
}

/* ------- CAROUSEL CONTROLS -------- */
.carousel {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  width: 95%;
}

.carousel-custom-control-prev,  .carousel-custom-control-next {
    position: absolute;
    top: 50%;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #fff;
    height: 0;
}

.carousel-custom-control-prev {  left: 0; }
.carousel-custom-control-next {  right: 0; }

.rounded-circle {
    background-color: #fff;
}

/* END CAROUSEL CONTROLS */

/* ----- Content ------ */

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* ---- */

.wr-detalle-curso {
  background-color: #69c7ad;
  color: #fff;

}
/* ------ Media -------- */

#playerAudio {
  width: 100%;
}

/* ----- Footer ------ */
footer {
            margin-top: 20px;
            padding: 20px 0;
            background: #1e1e1e;
            color: #000;
        }

footer a {
  color: #000;
}

.socialmedia {
  display: flex;
  justify-content: center;
}


.social >li a {
  font-size: 2.5rem;
}


/**
 * Stripe Form
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  /*box-shadow: 0 1px 3px 0 #cfd7df; */
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  color: #fa755a;
}


/* ------ index.php -------- */

  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }

  .wr-info {
    margin-top: 3.7rem;
}


  /* ----- Medias Responsive index.php------ */
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }




